{# declare inheritance #}
{% extends "layout.html" %}


{% block title %}{{ title }}{% endblock %}


{% block head %}
    {{ super() }}
{% endblock %}


{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <h1 class="depth" title="Welcome to Task Manager 1.0!">Welcome to Task Manager 1.0!</h1>
    <table class="small-6 large-6" id="tasks">
        <tbody>
            <tr>
                <td colspan=2><input class="description" id="new_task" type="text" autofocus></td>
            </tr>
            {% for task in tasks %}
            <tr>
                <td><input class="toggle" type="checkbox"></td>
                <td>{{ task.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block footer %}
    {{ super() }}
{% endblock %}