html, body {
    height: 100%;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif
}

body {
    margin: 0;
    background: rgb(8, 90, 120);
    background: linear-gradient(top, #4293d6 0%,#001e96 100%);
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #DDD;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}

h1 {
    padding: 50px;
}

ol {
    list-style: none;
}

#tasks {
    max-height: 500px;
    margin: auto;
}

.destroy {
    margin-right: -5px;
    padding: 0 5px;
    float: right;
    visibility: hidden;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 100px;
    cursor: pointer;
    font-size: 10px;
    -webkit-transition: all 0.2s ease-in;
}

label {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    margin-left: -15px;
    padding: 0 5px 0 15px;
    line-height: 14px;
}

.description {
    margin: 0px !important;
}

.hide {
    display: none;
}